/* CSS Document */

/* style.css */

body {
    text-align: center;
    margin: 50px;
}

p {
    font-size: 15px; /* You can adjust the font size as needed */
}

        img {
            display: block;
            margin: auto; /* Center the image */
        }
